<form action="/records/{{ record._id }}/edit" method="POST">
  <input type="text" placeholder="name" name="name" value="{{ record.name }}">
  <input type="text" placeholder="date" name="date" value="{{ record.date }}">

  <select name="category">
    {{#each categories}}
    <option value="{{ this.category }}" {{#if (equal this.category ../currentCategory)}}selected{{/if}}>
      {{ this.category }}</option>
    {{/each}}
  </select>

  <input type="text" placeholder="amount" name="amount" value="{{ record.amount }}">

  <button type="submit">Save</button>
  <a href="/">Back</a>
</form>