<div class="container">
  <div class="row text-center justify-content-center">
    <form class="col-6 mt-3" action="/records/{{ record._id }}?_method=PUT" method="POST">

      <div class="one row d-flex mb-3">
        <div class="">
          <span class="">*必填欄位</span>
        </div>

        <div class="one col-auto">
          <h4 class="">請修改你的支出</h4>
        </div>

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label for="merchant" class="input-group-text" id="inputGroup-sizing-default">店家*</label>
        </div>
        <input type="text" id="merchant" class="form-control" placeholder="" name="merchant"
          value="{{ record.merchant }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
          required>
        <div class="invalid-feedback">

        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label for="name" class="input-group-text" id="inputGroup-sizing-default">名稱*</label>
        </div>
        <input type="text" id="name" class="form-control" placeholder="" name="name" value="{{ record.name }}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
        <div class="invalid-feedback">

        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label for="date" class="input-group-text" id="inputGroup-sizing-default">日期*</label>
        </div>
        <input type="date" id="date" class="form-control" placeholder="" name="date" value="{{ record.date }}" required
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label for="category" class="input-group-text" id="inputGroup-sizing-default">類別*</label>
        </div>

        <select id="category" name="category">
          {{#each categories}}
          <option value="{{ this.category }}" {{#if (equal this.category ../currentCategory)}}selected{{/if}}>
            {{ this.category }}</option>
          {{/each}}
        </select>

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label for="amount" class="input-group-text" id="inputGroup-sizing-default">金額*</label>
        </div>
        <input type="number" id="amount" class="form-control" placeholder="" name="amount" value="{{ record.amount }}"
          required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <button class="btn btn-success mb-3" type="submit">送出</button>

    </form>
  </div>
</div>