<div class="container mt-5">
  <div class="row">
    {{!--
    <div class="dropdown col-2">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        類別 {{#if currentCotegory}} : {{currentCotegory}} {{/if}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/">全部</a>
        {{#each categories}}
        <a class="dropdown-item" href="/categories/{{this.category_en}}">{{this.category}}</a>
        {{/each}}
      </div>
    </div>
    --}}

    <form method="GET" action="/categories">

      <!-- 類別 -->
      <div class="categories col-12">
        <select class="form-control" name="currentCotegory" onchange="submit()">
          {{#if currentCotegory}}<option>{{currentCotegory}}</option>{{/if}}
          <option value="全部">全部類別</option>
          {{#each categories}}
          <option value="{{this.category}}">{{this.category}}</option>
          {{/each}}
        </select>
      </div>

      <div class="col-12">
        <select name="month" class="form-control" onchange="submit()">
          {{#if month}}
          <option value="{{month}}">{{month}}月分</option>
          {{/if}}
          <option value="全部">全部月份</option>
          <option value="1">1月</option>
          <option value="2">2月</option>
          <option value="3">3月</option>
          <option value="4">4月</option>
          <option value="5">5月</option>
          <option value="6">6月</option>
          <option value="7">7月</option>
          <option value="8">8月</option>
          <option value="9">9月</option>
          <option value="10">10月</option>
          <option value="11">11月</option>
          <option value="12">12月</option>
        </select>
      </div>

    </form>


    <div class="col-12 my-3">
      <h1>總金額 : {{ totalAmount }}</h1>
    </div>
  </div>
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto">
          <div class="d-flex">
            <i class="my-2 {{ this.category }}" style="vertical-align: middle;min-width: 20px;"></i>
            <div class="d-flex flex-column">
              <div class="col-12">
                <h5 style="display: inline; vertical-align: middle;">
                  {{ this.name }}
                </h5>
              </div>
              <div class="col-12">
                <span>{{ this.date }}</span>
              </div>
            </div>

          </div>
        </div>

        <div class="col-auto">

          <h5 class="mr-2" style="font-weight: 700;display: inline; vertical-align: middle;">
            {{ this.merchant }}
          </h5>

          <h5 style="display: inline; vertical-align: middle;">
            {{ this.amount }}
          </h5>

          <a class="btn btn-info" href="/records/{{ this._id }}/edit">修改</a>

          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" onsubmit="return confirm('確定刪除嗎')"
            style="display: inline;" style="display: inline;">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>


  <div class="mt-3">
    <a class="btn btn-success" href="/records/new">新增支出</a>
  </div>
</div>