<div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    類別 {{#if currentCotegory}} : {{currentCotegory}} {{/if}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/">全部</a>
    {{#each categories}}
    <a class="dropdown-item" href="/categories/{{this.category_en}}">{{this.category}}</a>
    {{/each}}
  </div>
</div>

<h1>Total Amount: {{ totalAmount }}</h1>

<ul>
  {{#each records}}
  <li>
    <div class="{{ this.category }}"></div>{{ this.name }}{{ this.date }}{{ this.amount }}
  </li>

  <a href="./records/{{ this._id }}/edit">edit</a>

  <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
    <button type="submit">Delete</button>
  </form>
  {{/each}}
</ul>

<a href="./records/new">Create</a>