<div class="container mt-5">
  <div class="row">
    <div class="dropdown col-12">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        類別 {{#if currentCotegory}} : {{currentCotegory}} {{/if}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/">全部</a>
        {{#each categories}}
        <a class="dropdown-item" href="/categories/{{this.category_en}}">{{this.category}}</a>
        {{/each}}
      </div>
    </div>

    <div class="col-12 my-3">
      <h1>總金額 : {{ totalAmount }}</h1>
    </div>
  </div>
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto">
          <div class="d-flex">
            <i class="py-1 {{ this.category }}" style="vertical-align: middle;"></i>
            <div class="d-flex flex-column">
              <div class="col-12">
                <h5 style="display: inline; vertical-align: middle;">
                  {{ this.name }}
                </h5>
              </div>
              <div class="col-12">
                <span>{{ this.date }}</span>
              </div>
            </div>

          </div>
        </div>

        <div class="col-auto">
          <h5 style="display: inline; vertical-align: middle;">
            {{ this.amount }}
          </h5>

          <a class="btn btn-info" href="./records/{{ this._id }}/edit">修改</a>

          <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;"
            style="display: inline;">
            <button class="btn btn-danger" type="submit">delete</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>


  <div class="mt-3">
    <a class="btn btn-success" href="./records/new">新增支出</a>
  </div>
</div>