<h1>Total Amount: {{ totalAmount }}</h1>

<ul>
  {{#each records}}
  <li>
    <div class="{{ this.category }}"></div>{{ this.name }}{{ this.date }}{{ this.amount }}
  </li>

  <a href="./records/{{ this._id }}/edit">edit</a>

  <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
    <button type="submit">Delete</button>
  </form>
  {{/each}}
</ul>

<a href="./records/new">Create</a>